<!DOCTYPE html>
<html>

<head>
  <!-- Download the font for the page -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

  <!-- Responsive webpage -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Download Bootstrap and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<p>
  <strong>Title:Challenge Statement 3</strong>
</p>

<% if current_user == nil || !@challenge_statement.id.in?(current_user.joined_challenge_statement) %>
  <% if @challenge_statement.is_open %>
    <%=  button_to "Join Challenge Statement", join_challenge_statement_path(@challenge_statement) %>
  <% else %>
    <%= "Thank you for your interest in Creation 2020, currently we are no longer accepting submissions for this Challenge Statement!" %>
  <% end %>
<%  end %>

<% if current_user != nil && @challenge_statement.id.in?(current_user.joined_challenge_statement) %>
  <% if @challenge_statement.is_open %>
    <%= link_to "Download brief and template", rails_blob_path(@challenge_statement.zip, disposition: 'attachment') %>
    <%= link_to "Submit a submission", all_submissions_path %>
  <% else %>
    <%= "Thank you for your interest in Creation 2020, currently we are no longer accepting submissions for this Challenge Statement!" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <%= button_to 'Edit', edit_challenge_statement_path(@challenge_statement), :method => :get %>
    <% if @challenge_statement.is_open %>
      <%= button_to 'Close Challenge Statement', close_challenge_statement_path(@challenge_statement), data: { confirm: 'Are you sure?' }%>
    <% else %>
      <%= button_to 'Open Challenge Statement', close_challenge_statement_path(@challenge_statement),  data: { confirm: 'Are you sure?' }%>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', challenge_statements_path %>
</body>
</html>
