<p>
  <strong>Title:Challenge Statement 2</strong>
</p>

<% if current_user == nil || !@challenge_statement.id.in?(current_user.joined_challenge_statement) %>
  <% if @challenge_statement.is_open %>
    <%=  button_to "Join Challenge Statement", join_challenge_statement_path(@challenge_statement) %>
  <% else %>
    <%= "Thank you for your interest in Creation 2020, currently we are no longer accepting submissions for this Challenge Statement!" %>
  <% end %>
<%  end %>

<% if current_user != nil && @challenge_statement.id.in?(current_user.joined_challenge_statement) %>
  <% if @challenge_statement.is_open %>
    <%= link_to "Download brief and template", rails_blob_path(@challenge_statement.zip, disposition: 'attachment') %>
    <%= link_to "Submit a submission", all_submissions_path %>
  <% else %>
    <%= "Thank you for your interest in Creation 2020, currently we are no longer accepting submissions for this Challenge Statement!" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <%= button_to 'Edit', edit_challenge_statement_path(@challenge_statement), :method => :get %>
    <% if @challenge_statement.is_open %>
      <%= button_to 'Close Challenge Statement', close_challenge_statement_path(@challenge_statement), data: { confirm: 'Are you sure?' }%>
    <% else %>
      <%= button_to 'Open Challenge Statement', close_challenge_statement_path(@challenge_statement),  data: { confirm: 'Are you sure?' }%>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', challenge_statements_path %>