<!DOCTYPE html>
<html>

<head>
  <!-- Download the font for the page -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

  <!-- Responsive webpage -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Download Bootstrap and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
  .title {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-family: "Hey November";
    font-size: 20vmin;
  }

  .page-foot {
    background-color: #F26648;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .last-link {
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
    font-size: 200%;
  }

  .signup-button {
    text-align: center;
    padding-bottom: 3%;
  }

  .button {
    font-family: "Raleway";
    background-color: #111f36;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .centralize {
    text-align: center;
  }

  .form-container {
    max-width: 750px;
    margin: auto;
  }

  form {
    display: inline-block;
  }

  input[type=text], input[type=password], input[type=email], select {
    max-width: 85vw;
    width: 450px;
    height: 30px;
    border: 2px solid #111f36;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .custom-a a{
    text-decoration: underline;
  }

  .upload-button {
    text-align: center;
    padding-bottom: 3%;
  }

  .button {
    font-family: "Raleway";
    background-color: #111f36;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .label {
    font-weight: bold;
    font-size: 100%;
    letter-spacing: 2px;
  }

  .page-foot {
    background-color: #F26648;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .last-link {
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
    font-size: 200%;
  }
</style>

<body>

<h2 class="title">EDIT <%= resource_name.to_s.humanize %></h2>
<div class="centralize form-container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-group">
      <div class="label">
        <%= f.label :current_password, "Old Password" %>
      </div>
      <div>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <% if resource.errors.any? && resource.errors.include?(:current_password) %>
          <div class="invalid-feedback d-block">
            <%  resource.errors.messages[:current_password].each do |error| %>
              <% error.insert(0, "Current password ") %>
            <% end %>
            <%=  resource.errors.messages[:current_password].join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="label">
        <%= f.label :password, "New Password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if resource.errors.any? && resource.errors.include?(:password) %>
          <div class="invalid-feedback d-block">
            <%  resource.errors.messages[:password].each do |error| %>
              <% error.insert(0, "New password ") %>
            <% end %>
            <%=  resource.errors.messages[:password].join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="label">
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <div>
        <% if resource.errors.any? && resource.errors.include?(:password_confirmation) %>
          <div class="invalid-feedback d-block">
            <%  resource.errors.messages[:password_confirmation].each do |error| %>
              <% error.insert(0, "Password Confirmation ") %>
            <% end %>
            <%=  resource.errors.messages[:password_confirmation].join(", ") %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="actions upload-button">
      <%= f.submit "UPDATE", class:"button" %>
    </div>
  <% end %>
</div>
<br/><br/>
<div class="page-foot"><%= link_to "ANY QUESTIONS?", new_message_path, class: 'last-link' %></div>
