<!DOCTYPE html>
<html>

<head>
  <!-- Download the font for the page -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

  <!-- Responsive webpage -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Download Bootstrap and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
  .title {
    padding-top: 3%;
    text-align: center;
    font-family: "Hey November";
    font-size: 600%;
  }

  .page-foot {
    background-color: #F26648;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .last-link {
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
    font-size: 200%;
  }

  .login-button {
    text-align: center;
    padding-bottom: 3%;
  }

  .button {
    font-family: "Raleway";
    background-color: #111f36;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .centralize {
    text-align: center;
  }

  .hide-label {
    display: none;
  }

  form {
    display: inline-block;
  }

  input[type=email], input[type=password] {
    max-width: 85vw;
    width: 450px;
    border: 2px solid #111f36;
    border-radius: 0px;
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 12px;
    margin-left: 7%;
  } 

  .remember {
    font-family: "Raleway";
    text-align: center;
  }

  img {
    position: absolute;
  }

  .custom-form {
    text-align: left;
  }

</style>

<body>
<h1 class="title">USER LOG IN</h1>

<div class="container centralize">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group custom-form">
    <%= f.label :email, class: "hide-label" %>
    <%= image_tag("logo-username.png", height: "40px") %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "NUS Email" %>
  </div>

  <div class="field form-group custom-form">
    <%= f.label :password, class: "hide-label" %>
    <%= image_tag("logo-password.png", height: "40px") %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions login-button">
    <%= f.submit "LOG IN", class: "button" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %><br><br><br><br>

<div class="page-foot" style="position: fixed; bottom: 0; width: 100%;"><%= link_to "ANY QUESTIONS?", new_message_path, class: 'last-link' %></div>
</body>
</html>
