<%= form_with(model: @mailing_list, local: true) do |form| %>

  <div class="field asterisk">
    <%= form.label :email %>
  </div>

  <div>
    <%= form.text_field :email, class: 'form-control' %>
    <% if @mailing_list.errors.any? && @mailing_list.errors.include?(:email) %>
      <div class="invalid-feedback d-block">
        <%  @mailing_list.errors.messages[:email].each do |error| %>
          <% error.insert(0, "Email ") %>
        <% end %>
        <%=  @mailing_list.errors.messages[:email].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="actions pt-3">
    <%= form.submit "Subscribe" %>
  </div>

<% end %>
