<%= form_with(model: @submission, url: [@challenge_statement, @submission], local: true) do |form| %>

  <div class="field">
    <%= form.label :file %>
  </div>
  <div>
    <%= form.file_field :file, direct_upload: true  %>
    <% if @submission.errors.any? && @submission.errors.include?(:file) %>
      <div class="invalid-feedback d-block">
        <%  @submission.errors.messages[:file].each do |error| %>
          <% error.insert(0, "File ") %>
        <% end %>
        <%=  @submission.errors.messages[:file].join(", ") %>
      </div>
    <% end %>
  </div>

  <%= form.hidden_field  :title, value: @challenge_statement.title + "_" + current_user.name %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
