<table>
  <thead>
  <tr>
    <th>File
    <% if current_user.admin %>
      <th>User</th>
    <% end %>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
    <tr>
      <td> <%= link_to submission.file.filename, rails_blob_path(submission.file, disposition: 'attachment') %></td>
      <% if current_user.admin %>
         <td><%= submission.user.email %></td>
      <% end %>
      <% if !current_user.admin %>
        <% if @challenge_statement.is_open %>
          <td><%= button_to 'Edit Submission',  edit_challenge_statement_submission_path(@challenge_statement, submission) , :method => :get%></td>
          <td><%= button_to 'Delete Submission', challenge_statement_submission_path(@challenge_statement, submission), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if current_user.admin %>
  <h3>User that has joined but haven't submitted</h3>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @not_submitted_user.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<br>

<% if user_signed_in? %>
  <% if @challenge_statement.is_open %>
    <% if !current_user.has_submit_for_joined_challenge?(@submissions,current_user) && !current_user.admin && current_user.has_joined_challenge?(@challenge_statement.id) %>
      <%= button_to 'Add a Submission',  new_challenge_statement_submission_path(@challenge_statement), :method => :get %>
    <% elsif !current_user.admin && !current_user.has_joined_challenge?(@challenge_statement.id) %>
      <%=  button_to "Join Challenge Statement", join_challenge_statement_path(@challenge_statement) %>
    <% end %>
  <% else %>
    <%= "Thank you for your interest in Creation 2020, currently we are no longer accepting submissions for this Challenge Statement!" %>
  <% end %>
<% end %>