<%= form_with(model: challenge_statement, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
  </div>
  <div>
    <%= form.text_field :title, class: 'form-control' %>
    <% if challenge_statement.errors.any? && challenge_statement.errors.include?(:title) %>
      <div class="invalid-feedback d-block">
        <%  challenge_statement.errors.messages[:title].each do |error| %>
          <% error.insert(0, "Title ") %>
        <% end %>
        <%= challenge_statement.errors.messages[:title].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :partner_name %>
  </div>
  <div>
    <%= form.text_field :partner_name, class: 'form-control' %>
    <% if challenge_statement.errors.any? && challenge_statement.errors.include?(:partner_name) %>
      <div class="invalid-feedback d-block">
        <%  challenge_statement.errors.messages[:partner_name].each do |error| %>
          <% error.insert(0, "Partner Name ") %>
        <% end %>
        <%= challenge_statement.errors.messages[:partner_name].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
  </div>
  <div>
    <%= form.text_area :description, class: 'form-control' %>
    <% if challenge_statement.errors.any? && challenge_statement.errors.include?(:description) %>
      <div class="invalid-feedback d-block">
        <%  challenge_statement.errors.messages[:description].each do |error| %>
          <% error.insert(0, "Description ") %>
        <% end %>
        <%= challenge_statement.errors.messages[:description].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.file_field :zip, direct_upload: true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
