<!DOCTYPE html>
<html>

<head>
  <!-- Download Raleway -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

  <!-- Responsive webpage -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Download Bootstrap and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
  .partner {
    padding-top: 2%;
    font-family: "Raleway";
    text-align: center;
    letter-spacing: 3px;
    font-size: 150%;
    font-weight: 1000;
  }

  .logos {
    text-align: center;
  }

  .title-box-container {
    text-align: center;
  }

  .title-box {
    display: inline-block;
  }

  .title {
    text-align: right;
    font-family: "Hey November";
    font-size: 20vmin;
  }

  .subtitle {
    margin-top: -1.5%;
    font-family: "Raleway";
    text-align: right;
    letter-spacing: 3px;
    font-size: 150%;
    font-weight: 1000;
  }

  .challenge-green {
    width: 100%;
    height: 100%;
    background-image: url(<%= image_path("challenge-green.png") %>);
    background-size: 100% 100%;
  }

  .first-title {
    font-family: "Raleway Black";
    font-size: 200%;
    font-weight: 100;
    color: black;
    letter-spacing: 4px;
    padding-left: 5%;
    padding-right: 30%;
  }

  .padded-above {
    padding-top: 25%;
  }

  .padded-above-orange {
    padding-top: 30%;
    margin-top: -15%;
  }

  .first-desc {
    font-family: "Raleway Semibold";
    padding-left: 5%;
    padding-right: 30%;
    text-align: justify;
    color: black;
  }

  .padded-below {
    padding-bottom: 25%;
  }

  .padded-below-orange {
    padding-bottom: 6%;
  }

  .challenge-orange {
    width: 100%;
    height: 100%;
    background-image: url(<%= image_path("challenge-orange.png") %>);
    background-size: 100% 100%;
  }

  .second-title {
    font-family: "Raleway Black";
    font-size: 200%;
    font-weight: 100;
    color: #F26648;
    letter-spacing: 4px;
    padding-right: 3%;
    padding-left: 25%;
    text-align: right;
  }

  .second-desc {
    font-family: "Raleway Semibold";
    padding-left: 25%;
    padding-right: 3%;
    text-align: justify;
    direction: rtl;
    color: #F26648;
  }

  .page-foot {
    background-color: #F26648;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .last-link {
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
    font-size: 200%;
  }

  #white-circle-1 {
    background: #F6F7F2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    margin-right: 5%;
  }

  #white-circle-2 {
    background: #F6F7F2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    margin-right: 5%;
  }

  #red-circle {
    background: #F26648;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    margin-left: 3%;
  }
</style>

<body>
<h2 class="partner">PARTNERS:</h2>
<div class="logos">
    <%= image_tag("logo-nusdvo.png", height: "66px") %> &nbsp; &nbsp; &nbsp;
    <%= image_tag("logo-welfare.png", height: "111px") %> &nbsp; &nbsp; &nbsp;
    <%= image_tag("logo-nusit.png") %>
</div>

<div class="title-box-container">
    <div class="title-box">
        <h1 class="title" style="text-align: center;">CHALLENGE STATEMENTS</h1>
        <h2 class="subtitle" style="margin-right: 5px;">DARE TO INSPIRE</h2>
    </div>
</div>

<div class="challenge-green">
    <h1 class="first-title padded-above">#1 2020 NUSSU WELFARE DIARY</h1>
    <div id="white-circle-1"></div>
    <div class="first-desc">
        <p>Design for the AY2020/21 Welfare Diary. The theme of the journal is jewel toned colours with writings in block letters style. The design of the journal should appeal to the NUS student community.</p>

        <p>The NUSSU Welfare Diary is published annually by the NUSSU Welfare Committee and is distributed during the NUS Student Life Fair to the NUS population in the month of August.</p>
    </div>
    <br>

    <h1 class="first-title">COMPANY BACKGROUND (NUSSU WELFARE)</h1>
    <div class="first-desc padded-below">
    <p>NUSSU Welfare is a committee that aims to enrich the welfare of NUS students through various events, such as Exam Welfare Pack, Free Cone Day, Welfare Diary, etc., to improve their social and psychological well-being.</p>

    <%= button_to 'More Details', static_pages_challenge_statement_1_path(@challenge_statements.find(1)), :method => :get %>
    </div> 
</div>

<div class="challenge-red">
    <h1 class="second-title">#2 KEY VISUAL for NUS COMMENCEMENT CLASS GIVING 2021</h1>
    <div id="red-circle"></div>
    <div class="second-desc">
    <p>Create a new, refreshed key visual for NUS Commencement Class Giving 2021. The design should inspire pride in being affiliated with NUS and encourage students to mark their graduation with a gift in support of their juniors<span style="float:right">.</span></p>

    <p>A key visual is not a logo design, but an effective add-on to the logo. It refers to an image motif used in campaigns in order to enhance brand recognition. The context of a campaign should be easily and quickly grasped from the key visual<span style="float:right">.</span></p>
    </div>
    <br>

    <h1 class="second-title">COMPANY BACKGROUND (NUS DEVELOPMENT OFFICE)</h1>
    <div class="second-desc">
    <p>The Development Office raises funds to support the development of the University<span style="float:right">.</span></p>
    <p>Annual Giving (AG) is a yearly campaign to alumni, staff, students, faculty and friends of the University to meet its financial needs, including University-wide bursaries and scholarships, as well as priority funds of different Faculties. It encourages donors to give mindfully and cultivate a habit of giving annually. The campaign runs from 1 April to 31 March the following year. Annual Giving oversees four different programmes: Commencement Class Giving, Faculty & Staff Giving, Alumni Giving, and Friends & Corporate Giving<span style="float:right">.</span></p>

    <%= button_to 'More Details', static_pages_challenge_statement_2_path(@challenge_statements.find(2)), :method => :get %>
    </div>
</div>

<div class="challenge-orange">
    <h1 class="first-title padded-above-orange">#3 MASCOT FOR NUS IT SECURITY AWARENESS CAMPAIGN</h1>
    <div id="white-circle-2"></div>
    <div class="first-desc">
    <p>Create and design a Mascot character, for branding, which can be used in IT Security Awareness Campaign.</p>

    <p>This mascot character could be used as character on a website, an email, a poster, an intranet article, videos, and e-Learnings and so on to promote adopting good security habits. This mascot would potentially be converted to 3D format for live size representation.</p>
    
    </div>
    <br>

    <h1 class="first-title">COMPANY BACKGROUND (NUS IT)</h1>
    <div class="first-desc padded-below-orange">
    <p>NUS Information Technology is the cornerstone for provision of reliable, high performance and secure IT infrastructure and effective IT governance and services for the campus.</p>
    <%= button_to 'More Details', static_pages_challenge_statement_3_path(@challenge_statements.find(3)), :method => :get %>
    </div>
</div>

<div class="page-foot"><%= link_to "ANY QUESTIONS?", new_message_path, class: 'last-link' %></div>
</body>
</html>