<!DOCTYPE html>
<html>
<head>
  <!-- Download the font for the page -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

  <!-- Responsive webpage -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Download Bootstrap and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style>
  * {
    font-family: "Raleway";
  }

  .title {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-family: "Hey November";
    font-size: 20vmin;
  }

  .centralize {
    text-align: center;
    font-family: "Raleway Semibold"
  }

  .page-foot {
    background-color: #F26648;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .last-link {
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
    font-size: 200%;
  }
</style>

<body>
<div class="container">
<h1 class="title">SUBMISSION FOR CHALLENGE STATEMENT</h1>
<h2 class="centralize">Hi, <%= current_user.name %> from <%= current_user.faculty %>!</h2>
<hr>
<% @challenge_statements.each do |challenge_statement| %>
  <h4><%= "Submissions for " %><%= challenge_statement.title %></h4>
  <% @challenge_statement = challenge_statement %>
  <% if current_user.admin? %>
    <% @submissions = @challenge_statement.submissions.all %>
    <% @not_submitted_user = [] %>
    <% @users.each do |user| %>
      <% if user.has_joined_challenge?(@challenge_statement.id) && !user.has_submit_for_joined_challenge?(@submissions,user) %>
         <% @not_submitted_user.push(user) %>
      <% end %>
    <% end %>
  <% else %>
    <% @submissions = @challenge_statement.submissions.where(:user_id => current_user.id) %>
  <% end %>
  <%= render "submissions/homepage" %>
  <br/>
<% end %>
<br><br><br>
</div>

<br/><br/><br/>
<div class="page-foot"><%= link_to "ANY QUESTIONS?", new_message_path, class: 'last-link' %></div>
</body>
</html>
