<h1><%= current_user.name %></h1><br>
<h2><%= current_user.faculty %></h2>
<hr>
<h3>Challenge Statements</h3>
<hr>
<% @challenge_statements.each do |challenge_statement| %>
  <h4><%= "Submissions for " %><%= challenge_statement.title %></h4>
  <% @challenge_statement = challenge_statement %>
  <% if current_user.admin? %>
    <% @submissions = @challenge_statement.submissions.all %>
    <% @not_submitted_user = [] %>
    <% @users.each do |user| %>
      <% if user.has_joined_challenge?(@challenge_statement.id) && !user.has_submit_for_joined_challenge?(@submissions,user) %>
         <% @not_submitted_user.push(user) %>
      <% end %>
    <% end %>
  <% else %>
    <% @submissions = @challenge_statement.submissions.where(:user_id => current_user.id) %>
  <% end %>
  <%= render "submissions/homepage" %>
<% end %>